extends ../layouts/default.pug
block main
	.container.text-center
		.team
			h1=__("Team")
			h4=__("Our people that changes the world")
			.row
				.row-eq-height
					a(href="https://beacaleti.github.io/", target="blank").col-md-6.text-center
						img.team(src="/img/yuri.jpg")
						h3.span Yuri Becaletti
						p=__("Accountant")
					a(href="https://luis15.github.io/",  target="blank").col-md-6.text-center
						img.team(src="/img/luis.jpg")
						h3.span Luis Coêlho
						p=__("WebDesigner and WebDeveloper")
