extends ../layouts/default.pug
block main
	.container
		.main.logo.text-center
			h1=__("About us")

		.row
			p Uma ideia para um mundo melhor. Isso é o que qualquer startup diria em sua página de sobre nós, mas queremos ser mais do que uma startup qualquer.
			p Queremos ser a empresa que tornou o mundo um lugar mais justo, dando a oportunidade a todos crescerem com a nossa descentralização de atendimento. Todo o empresário parceiro do Banco de Bits além de poder aceitar bitcoins, passa a ser um agente local nosso, levando a transformação da criptomoeda até seu bairro.
			p Nossos agentes locais atuarão como banco centra do seu bairro, impedindo os altos juros e a corrupção de levarem o dinheiro de seu lugar de origem para os grandes centros, garantindo comunidades fortes e independentes.
			p Mas nós não nos esquecemos que o mundo é um lugar globalizado, por isso o bitcoin é aceito em qualquer lugar do mundo: desde a paderia da esquina até o maior site de vendas da China.
			p Por isso que pedimos a você que veio até aqui: Nos dê uma chance não para fazer o mundo melhor, mas para deixá-lo diferente.
			
